@tailwind base;
@tailwind components;
@tailwind utilities;

*  {
  margin: 0;
 }

body {
    font-family: "Poppins", sans-serif;
    object-fit: cover;
    background-repeat: repeat-x;
    scroll-behavior: smooth;
}

html{
    background-image: url(public/assets/images/header.jpg);
    object-fit: cover;
    background-repeat: repeat-x;
    scroll-behavior: smooth;
}

.slick-dots li.slick-active button:before {
    color:rgb(105, 247, 49) ;
}

.slick-dots li button:before {
  color: white;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: rgb(105, 247, 49) ;
}

.slick-prev,
.slick-next {
  color: rgb(105, 247, 49) ;
  
}

.slick-prev:before,
.slick-next:before {
  color: rgb(105, 247, 49) ;
}








